div.header{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #666666;
    margin: 0pt;
    border: 0pt;
    padding: 0pt;
    position: fixed;
}

div.content{
    margin-top: 75pt;
}

ul.navs{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.hor{
    display: inline;
}

li a {
    display: block;
    text-align: center;
}


body{
    background-color: #000033;
    margin: 0;
}
