div.header{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #9eabb4;
    margin: 0pt;
    border: 0pt;
    padding: 0pt;
    position: fixed;
}

div.content{
    margin-top: 75pt;
    color: #9eabb4;
}

div.content-text-start{
    margin-top: 15%;
    margin-left: 10%;
    font-size: 25pt;
}

div.content-text-big{
    margin-top: 2%;
    margin-left: 10%;
    font-size: 55pt;
}

div.content-text{
    margin-top: 2%;
    margin-left: 10%;
    font-size: 25pt;
}

div.row{
    display: flex;
}

div.column{
    flex: 50%;
    padding: 10pt;
}

div.about:after{
    display: table;
}

div.image-round{
    background-image: url("images/grad_pic.JPG");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    height: 315pt;
    width: 210pt;
}

ul.navs{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.hor-left{
    float: left;
}

li.hor-right{
    float: right;
}

li a.a-nav {
    display: block;
    text-align: center;
    padding: 16pt;
    text-decoration: none;
    color: #0E2F44;
    font-size: 20pt;
}
li a:hover{
    background-color: #8697a1;
}


body{
    background-color: #0E2F44;
    margin: 0;
}

img.icon{
    width: 16pt;
    height: 16pt;
}

a.no-show{
    text-decoration: none;
}

a.no-show:visited, a.no-show:hover{
    color: #9eabb4;
}